# Ignore Visual Studio files
.vs/
*.sln
*.vcxproj
*.vcxproj.*
*.opensdf
*.sdf

# Ignore build output folders
x64/
Debug/
Release/

# Ignore binary files
*.exe
*.pdb
*.idb
*.tlog
*.obj
*.lastbuildstate
*.log

# Ignore system files
Thumbs.db
*.DS_Store

# Optional: Ignore user-specific settings
*.user
*.VC.db

# Optional: Ignore any backup or temp files
*.bak
*.tmp
*.swp